/* overwrite user-agent margin */
body {
	margin:0;
}

/* shared */
#c,#t {
	width:100%;
	height:100%;
}

/* container */
main {
	margin:10vh auto 5vh;
	padding:10vh calc(10vh + 1em) calc(10vh + 1em) 10vh;
	width:80vh;
	height:80vh;
	position:relative;
	box-sizing:border-box;
	overflow:hidden;
}

/* controls */
#c {
	top:0;
	left:0;
	position:absolute;
}
#c nav {
	position:absolute;
	box-sizing:border-box;
}
#c nav:nth-child(odd) {
	padding:0 .5em;
	margin:0 10vh;
	width:60vh;
	height:10vh;
}
#c nav:nth-child(odd) a {
	width:25%;
	padding:calc(5vh - 16px) 0;
	text-align:center;
}
#c nav:nth-child(even) {
	padding:.5em 0;
	margin:10vh 0;
	width:10vh;
	height:60vh;
}
#c nav:nth-child(even) a {
	padding:0 calc(5vh - 16px);
	height:25%;
}
#c nav:nth-child(even) svg {
	position:relative;
	margin-top:-32px;
	top:50%;
}
#c nav:nth-child(1) {
	/*top:0;*/
}
#c nav:nth-child(2) {
	right:0;
}
#c nav:nth-child(3) {
	bottom:0;
}
#c nav:nth-child(4) {
	left:0;
}
#c nav a {
	display:inline-block;
	cursor:pointer;
}
#c nav path {
	stroke:#ddd;
	stroke-width:14px;
	stroke-linecap:round;
	stroke-linejoin:round;
	transition:.2s;
}
#c nav path.m {
	fill:#eee;
	stroke:#eee;
	stroke-width:8px;
}
#c nav a:hover path:not(.m) {
	stroke:#ccc;
	stroke-width:16px;
}

/* tiles */
#to,#ti { /* both tiles containers */
	height:100%;
	width:100%;
}
#to { /* outer tiles container */
	padding:1em 0 0 1em;
	background:#ddd;
	border-radius:1.6em;
	overflow:hidden;
}
#ti { /* inner tiles container */
	position:relative;
}
#ti div { /* actual tiles */
	position:absolute;
	width:calc(25% - 1em);
	height:calc(25% - 1em);
	border-radius:.6em;
	background:#fff;
	transition:.4s;
}
#ti div.dt { /* disable transition */
	transition:none!important;
}