/* tile colouring */
/*#4f6ec0,#5552c3,#7a55c5,#9357c8,#c25aca*/
/*#4945b2,#bc487e,#bfc24e,#55c892,#5cce99*/
/*#ce8381,#acd388,#90d7d9,#bc97de,#c29fe2*/
/*#594fba,#c15581,#bdc75c,#63cda2,#6ad2a8*/
#ti div.g1 {
	background:#594fba;
}
#ti div.g2 {
	background:#c15581;
}
#ti div.g3 {
	background:#bdc75c;
}
#ti div.g4 {
	background:#63cda2;
	/*background:#6ad2a8;*/
}
